<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>naytteidenKerays</title>
  </head>

  <body>
    {% if current_user.is_authenticated %}
    <p>
      {{ current_user.name }} logged in. <a href="{{ url_for('auth_logout') }}">Log out</a>
    </p>
    {% else %}
    <a href="{{ url_for('auth_login') }}">Log in</a>
    {% endif %}

    <ul>
      <li><a href="{{ url_for('naturesites_index') }}">List nature sites</a></li>
      <li><a href="{{ url_for('naturesites_form') }}">Add a naturesite</a></li>
    </ul>

    {% block body %}
      <p>
        Content.
      </p>
    {% endblock %}
  </body>
</html>
