{% extends "layout.html" %}

{% block body %}

<p class="h3">Comment: {{ comment.text }}</p>

<p class="h5">Edit comment:</p>

<form method="POST" action="{{ url_for('comment_change_description', report_id = report_id, naturesite_id = naturesite_id, comment_id = comment.id) }}"
    novalidate>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="newtext">Write new text</label>
            <input class="form-control" id="newtext" name="newtext" required type="text" value="">
        </div>
    </div>
    <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Change text">
</form>

<ul>
    {% for error in form.newtext.errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>

<p class="h5">Delete comment</p>

<form method="POST" action="{{ url_for('delete_comment', report_id = report_id, naturesite_id = naturesite_id, comment_id = comment.id) }}"
    novalidate>
    <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Delete">
</form>

{% endblock %}