{% extends "layout.html" %}

{% block body %}

<p>
    Nature site: {{ naturesite.name }}
</p>
<p>
    {{ report.title }}
</p>
<p>
    {{ report.description }}
</p>

<p>
    Comments
</p>


<table>
    <tr>
        <th>Author</th>
        <th>Text</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for comment in report.comments %}
    <tr>
        <td>
            {{ comment.account.username }}
        </td>
        <td>
            {{ comment.text }}
        </td>
        <td>
            <form method="POST" action="{{ url_for('comment_change_description', report_id = report.id, naturesite_id = naturesite.id, comment_id = comment.id) }}">                   
            {{ form.text }}
            <input type="submit" value="Change text" />
            </form>
        </td>
        <td>
            <form method="POST" action="{{ url_for('delete_comment', report_id = report.id, naturesite_id = naturesite.id, comment_id = comment.id) }}">
                    <input type="submit" value="Delete" />
            </form>
        </td>
        {% endfor %}
</table>

<form method="GET" action="{{ url_for('comment_createform', report_id = report.id, naturesite_id = naturesite.id) }}">
    <input type="submit" value="Create new comment" />
</form>


{% endblock %}