{% extends "layout.html" %}

{% block body %}

<p class="h3">Report: {{ report.title }}</p>
<p class="h5">{{ report.description }}</p>
<p align="center" , class="h4">Comments:</p>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Author</th>
            <th scope="col">Text</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for comment in report.comments %}
        <tr>
            <td>
                {{ comment.account.username }}
            </td>
            <td>
                {{ comment.text }}
            <td>
                {% if comment.isMyAuthor(id) %}
                <a href="{{ url_for('comment_edit', report_id = report.id, naturesite_id=naturesite.id, comment_id = comment.id) }}">
                    Edit comment</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>



<form method="POST" action="{{url_for('comment_create', report_id = report.id, naturesite_id=naturesite.id) }}"
    novalidate>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="text">Write a new comment:</label>
            <input class="form-control" id="text" name="text" required type="text" value="">
        </div>
    </div>

    {% for error in form.text.errors %}
    <li>{{ error }}</li>
    {% endfor %}

    <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Add a new Comment">
</form>
{% endblock %}