{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{url_for('comment_create', report_id = report.id, naturesite_id=naturesite.id) }}">
    <table>
        <tr>
            <td>
                {{ form.text.label }}
            </td>
            <td>
                {{ form.text}}
            </td>
            <td>
                <ul>
                    {% for error in form.text.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="submit" value="Add a new comment" />
            </td>
        </tr>
    </table>
</form>
{% endblock %}