{% extends "layout.html" %}

{% block body %}
{{error}}



<form method="POST" action="{{ url_for('auth_login') }}" novalidate>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="username">username</label>
      {{form.username(class_="form-control", required="required")}}
    </div>


    <div class="col-md-6 mb-3">
      <label for="password">password</label>
      {{form.password(class_="form-control", required="required")}}
    </div>
  </div>
  <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Login">

</form>
{% endblock %}