{% extends "layout.html" %}

{% block body %}

<form method="POST" action="{{url_for('auth_create') }}" novalidate>
  
  <div class="form-row">
  <div class="col-md-6 mb-3">
    <label for="name">name</label>
      <input class="form-control" id="name" name="name" required type="text" value="">
  </div> 
 </div>
  
  <div class="form-row">
    <div class="col-md-6 mb-3">
    <label for="name">name</label>
      <input class="form-control" id="name" name="name" required type="text" value="">
  </div>
 </div>
  
    
<div class="form-row">
  <div class="col-md-6 mb-3">
    <label for="password">password</label>
      <input class="form-control" id="password" name="password" required type="password" value="">
  </div>
  
  <div class="col-md-6 mb-3">
    <label for="repeat_pw">password2</label>
      <input class="form-control" id="repeat_pw" name="repeat_pw" type="password" value="">
  </div>
</div>
   
    <input class="btn btn-primary" id="submit" name="submit" type="submit" value="create account">
</form>

{% endblock %}
