{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('naturesite_change_description', naturesite_id=naturesite.id) }}">
    {{naturesite.description}}
    <table>
        <tr>
            <td>
                {{ form.description.label }}
            </td>
            <td>
                {{ form.description }}
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="submit" value="Change description" />
            </td>
        </tr>
    </table>

    <p>
    Reports
    </p>

    
    {% for report in naturesite.reports %}
    <table>
        <tr>
            <td>
                {{ report.name }}
            </td>
            <td>
                {{ report.account_id }}
            </td>
            <td>
                {{ report.description }}
            </td>
        </tr>
    </table>
    {% endfor %}
</form>

<form method="GET" action="{{ url_for('report_createform', naturesite_id = naturesite.id) }}">
    <input type="submit" value="Create new report" />
</form>



{% endblock %}