{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('naturesite_change_description', naturesite_id=naturesite.id) }}">

   <p class="h3">{{naturesite.name}}</p>
   <p class="h4">{{naturesite.description}}</p>
    <table>
        <tr>
            <td>
                {{ form.description.label }}
            </td>
            <td>
                {{ form.description }}
            </td>
        </tr>
        <tr>
            <td>
                <ul>
                    {% for error in form.description.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <input type="submit" value="Change description" />
            </td>
        </tr>
    </table>
</form>
 <p class="h5">Reports</p>
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
        <th></th>
    </tr>
    {% for report in naturesite.reports %}
    <tr>
        <td>
            <a href="{{ url_for('report_edit', report_id = report.id, naturesite_id = naturesite.id) }}">{{ report. title }}</a>
        </td>
        <td>
            {{ report.account.username }}
        </td>
        <td>
            {{ report.description }}
        </td>
        <td>
            <a href="{{ url_for('show_comments', report_id = report.id, naturesite_id = naturesite.id) }}">Comments</a>
        </td>
    </tr>
    {% endfor %}
</table>

<form method="GET" action="{{ url_for('report_createform', naturesite_id = naturesite.id) }}">
    <input type="submit" value="Create new report" />
</form>



{% endblock %}
