{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Nature site</th>
      <th>Description</th>
      <th>New description</th>
    </tr>
    {% for naturesite in naturesites %}
    <tr>
      <td>{{ naturesite.name }}</td>
      <td>{{ naturesite.description }}</td>
      <td>
        <form method="GET" action="{{ url_for('naturesite_edit', naturesite_id=naturesite.id) }}">
          <input type="submit" value="Edit nature site"/>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}