{% extends "layout.html" %}

{% block body %}


<p class="h3">{{naturesite.name}}</p>
<p class="h4">{{naturesite.description}}</p>


<p align="right">
    {% if naturesite.isMyAuthor(id) %}
    <a href="{{ url_for('naturesite_edit', naturesite_id = naturesite.id) }}">Edit nature site |</a>
    {% endif %}
    <a href="{{ url_for('report_createform', naturesite_id = naturesite.id) }}"> Create a new report</a>
</p>




<p class="h5">Reports</p>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for report in naturesite.reports %}
        <tr>
            <td>
                {{ report.title }}
            </td>
            <td>
                {{ report.account.username }}
            </td>
            <td>
                {{ report.description }}
            </td>
            <td>
                {% if naturesite.isMyAuthor(id) %}
                <a href="{{ url_for('report_edit', report_id = report.id, naturesite_id = naturesite.id) }}"> Edit
                    report |</a>
                {% endif %}
                <a href="{{ url_for('show_comments', report_id = report.id, naturesite_id = naturesite.id) }}">Comments</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}